/* using rgba because using hex colours complicates the opacity settings*/

html {
    background-color: rgba(234, 33, 162,0.3);
    color: rgba(23, 19, 19,1);
    font-family: monospace;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right: auto;
    
}

.container{ 
    /* display: flex;
    justify-content: space-between; */
    opacity: 1.0;
    background-color: rgba(245, 238, 238,1);
    border-radius: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 650px;
    height:550px;
    margin-left:auto;
    margin-right: auto;

}

 h1 { display: flex;
    justify-content: center;
    font-size: 62px;

}

.timeInfo, .cityInfo, .search, .textinput {
    display: flex; 
    justify-content: center;
}

.timeInfo p, .cityInfo p {
    margin: 10px;
    font-size: 44px;
    font-family: monospace;
}



.futureDaysContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .futureDay {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(23, 19, 19, 1);
    background-color:  rgba(234, 33, 162,0.3);
  }
  
  .futureDay .temps {
    display: flex;
    justify-content: space-between;
    width:100%; /* Adjust the width as necessary */
  }
  
  .futureDay p {
    margin: 10px 
}


  